#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# macs
.DS_Store

# temp folders
tmp

# modules should not submit lock files
.terraform.lock.hcl

# lambda related files
monitor_sps_and_ris.zip
